body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head{
  font-size: 24px;
  font-weight: 500;
}

.MuiFormLabel-asterisk{
  color: red;
}

.field-head{
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.field-value{
  font-size: 18px;

}
